@model SnifferManager.Models.ViewModel.ConfigurationViewModel


@using (Ajax.BeginForm("config/serialnumber", new AjaxOptions {  UpdateTargetId="snumber"}))
{
    <div class="form-group form-group-lg">
        @Html.Label("Название", new { @class = "col-sm-2 control-label" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Введите название арендатора" })
        <input type="submit" value="Добавить" />
    </div>
}
<div id="snumber">

</div>
