@model List<Configuration>
    <table class="table">
        <thead>
            <tr>
                <td>SerialNumber</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var config in Model)
            {
                <tr>
                    <td>@config.SerialNumber</td>
                    <td>@config.Description</td>
                </tr>
            }
        </tbody>
    </table>