@model List<SnifferManager.Models.ViewModel.CheckLocationViewModel>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Дата</td>
            <td>Позиций</td>
            <td>Сумма</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var check in Model)
        {
            <tr>
                <td>@check.CheckNumber</td>
                <td>@check.Date</td>
                <td>@check.Position</td>
                <td>@check.Price</td>
            </tr>
        }       
    </tbody>
</table>